# Python
venv/
.venv/
env/
bin/
lib/
share/
include/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data
data/raw/steps.csv

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
